ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

}

li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 40%;
    min-width: 100px;
    max-width: 300px;
    border: 3px solid black;
    margin: .5em;
    background: rgb(43, 74, 94);
    padding: 15px;
}

li p {
    font-size: 1.5em;
    color: blanchedalmond;
    text-align: center;
}

li img {
    width: 100%;
    align-self: center;
    border-style: outset;
    border-color: #716A5C;
    margin: 10%;
}

li a {
    color: blanchedalmond;
}

