* {
    margin: 0;
    padding: 0;
}

body {
    display:  grid;
    background: whitesmoke;
}

.header-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    

}


.header-image {
    width: 25vw;
    border: 2px solid black;
    border-radius: 20px;
    margin: 20px;
}
/*
h1 {
    font-size: 3em;
    text-align: center;
    display: inline-block;
    text-shadow: 4px 1.5px #cecccc;
}
#header-container {
    display: grid;
    grid-auto-rows: auto;
    align-items: center;
    background-color: rgb(235, 235, 235);
    border-bottom: solid gray 3px;
}

.profile {
    border: solid 1px black;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(203, 206, 155);
}

.profile img {
    width: 75px;
    border-radius: 20%;
}

#search-bar {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#page-buttons {
    text-align: center;
}
